<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Stock List</h1>
<ul>
    {{#stockData}}
        <li>TRADEDATE: {{tradedate}}, SECID: {{secid}}, SHORTNAME: {{shortname}}, OPEN: {{open}} LOW: {{low}}, HIGH: {{high}}, CLOSE: {{close}}</li>
    {{/stockData}}
</ul>
<span>----------------------------------------------------------</span>
<h1>
    Last fractal stock Data
</h1>
<ul>
    {{#lastFractalData}}
        <li>TRADEDATE: {{tradedate}}, SECID: {{secid}}, SHORTNAME: {{shortname}}, OPEN: {{open}} LOW: {{low}}, HIGH: {{high}}, CLOSE: {{close}}</li>
    {{/lastFractalData}}
</ul>
</body>
</html>